@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
  height: 100%;
}

body{
  position: relative;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(165, 151, 151);
  min-height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  position:sticky;
  top:0;
  right:0;
  left:0;
  background-color: #F8F3F1;
  opacity: 1;
  padding: 20px 10px;
  border-bottom:5px solid #6f6f6f;
}

nav .onglets{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
}

nav .onglets a{
  margin-right: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

nav .buttons button {
  padding: 13px 20px;
  text-decoration: none;
  color: white;
  outline:none;
  background: rgb(252, 248, 248);
  border: 1px solid black;
}
nav .buttons .login{
  margin-right: 10px;
}

nav .buttons a {
  text-decoration: none;
  color: black;
}

footer{
  background: #1a1a1a;
  color: #828282;
  padding: 1% 5%;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
}

footer .colonnes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.admin {
  padding: 20px;
}

.admin h1 {
  border: 2px solid black;
  padding: 20px;
}

.profil {
  padding-left: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 70%;
  background: rgb(246, 241, 241);
  border: 2px solid rgb(79, 189, 226);
}

.profil a {
  color: red;
}

.moteur {
  margin-left: 20px;
  margin-right:50%;
  padding: 20px;
  padding-right:20%;
  border: 2px solid black;
  background: rgb(225, 222, 222);
}

.pages {
  display: flex;
  justify-content: space-between;
  padding-right:70%;
  padding-left: 20%;
}

img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.images {
  margin-right:60%;
  margin-left:20px;
  border: 2px solid black;
}

.description {
  display: flex;
  justify-content: left;
}
